<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" th:href="@{/static/bootstrap/bootstrap-icons/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/static/bootstrap/bootstrap_5.1.3/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/static/dist/css/BSA.css}">
    <title>修改密码</title>
</head>
<body class="bg-light pt-2">
<div class="container-fluid">
    <div class="card border-0 shadow-sm">
        <div class="card-body">
            <div class="row">

                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <form action="#" id="form2">

                                <div class="mb-3 row">
                                    <label for="name" class="col-sm-3 col-form-label">用户名</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="name" name="name" readonly>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="password" class="col-sm-3 col-form-label">原密码</label>
                                    <div class="col-sm-9" th:acc="${session.loginAccount.getPassword()}" id="userPassword">
                                        <input type="password" class="form-control" id="password" name="password">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="updatePassword" class="col-sm-3 col-form-label">请修改密码</label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" id="updatePassword" name="updatePassword">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="verifyUpdatePassword" class="col-sm-3 col-form-label">请确认密码</label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" id="verifyUpdatePassword" name="verifyUpdatePassword">
                                    </div>
                                </div>
                                <!-- <div class="mb-3 row">
                                     <label for="gender2Radio1" class="col-sm-3 col-form-label">性别</label>
                                     <div class="col-sm-9">
                                         <div class="form-check form-check-inline">
                                             <input class="form-check-input" type="radio" name="gender2"
                                                    id="gender2Radio1" value="先生" checked>
                                             <label class="form-check-label" for="gender2Radio1">先生</label>
                                         </div>
                                         <div class="form-check form-check-inline">
                                             <input class="form-check-input" type="radio" name="gender2"
                                                    id="gender2Radio2" value="女士">
                                             <label class="form-check-label" for="gender2Radio2">女士</label>
                                         </div>
                                     </div>
                                 </div>-->


                                <div class="mb-3 row">
                                    <div class="col-sm-9 offset-sm-3">
                                        <button id="updateUserAccount" class="btn btn-primary">保存更改</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/static/bootstrap/bootstrap_5.1.3/js/bootstrap.bundle.js}"></script>
<script type="text/javascript" th:src="@{/static/dist/js/BSA.js}"></script>
<script type="text/javascript" th:src="@{/static/jquery/jquery.js}"></script>
<script type="text/javascript">
    $(function () {
        $.get("/user/manage/pages/getUserAccount",function (response) {
            if(response.code==200){
                $("#name").val(response.data.name);
            }
        });
        $("#updateUserAccount").click(function () {
            //收集参数
            var userPassword = $.trim($("#userPassword").attr("acc"));
            var password = $.trim($("#password").val());
            var updatePassword = $.trim($("#updatePassword").val());
            var verifyUpdatePassword = $.trim($("#verifyUpdatePassword").val());

            $.ajax({
                url:"/user/manage/pages/updateUserPassword",
                data:{
                    password:verifyUpdatePassword
                },
                type:'post',
                dataType:'json',
                success:function (response) {
                    if(response.code==200){
                        alert("修改个人密码成功!");
                    }
                    if(response.code==201){
                        alert("修改个人密码失败!");
                    }


                },
                error:function () {
                    alert("发生错误了");
                },
                beforeSend:function () {
                    if(userPassword!=password){
                        alert("用户原密码不正确！")
                        return false;
                    }

                    if(password==updatePassword){
                        alert("原密码不可与修改后密码一致！")
                        return false;
                    }

                    if(password==verifyUpdatePassword){
                        alert("原密码不可与确认密码一致！")
                        return false;
                    }

                    if(updatePassword!=verifyUpdatePassword){
                        alert("修改后密码与确认密码不一致！")
                        return false;
                    }
                    return true;
                }

            });
        });
    });
</script>
</body>
</html>
